<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="content">
      <h1>Enter Access Password</h1>
      {% if error %}
      <p class="error">{{ error }}</p>
      {% endif %}
      <form action="{{ url_for('login') }}" method="post">
        <input
          type="password"
          name="password"
          placeholder="8-digit password"
          required
        />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
